*, *::before, *::after{
  box-sizing:border-box;
}

body{
  margin :0;
}

.container{
  display:grid;
  grid-template-columns:  1fr auto;
  grid-template-rows: 1fr auto ;
  grid-template-areas:
   "image sidebar"
   "slider sidebar" ;
  height:100vh;
  width: 100vw;
  background-color: #DADADA
}
/* la idea de los grids es dejar a la imagen el máximo espacio posible y lo otro
en pequeñito a los lados */
/* Las areas definen lo que son las filas (en el diseño). La primera sería la imagen y el sidebar y 
la segunda el slider y el sidebar */

.main-image{
  grid-area:image;
  background-image:url("https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg");
  width:100%;
  height:100%;
  background-position:top center;
  background-size:contain;
  background-repeat:no-repeat;
}

.sidebar{
  grid-area:sidebar;
  background-color:hsl(265,100%, 86%);
  border-left:1.5px solid hsl(265,100%, 56%);
  display:flex;
  flex-direction: column;
  align-items:stretch;
}

.sidebar-item{
  cursor: pointer;
  border:none;
  outline:none;
  background-color: hsl(265,100%, 86%);
  padding:1rem;
  position:relative;
  transition:background-color 250ms;
}

.sidebar-item:hover, .sidebar-item:focus{
   background-color: hsl(265, 100%, 76%);
}


.sidebar-item.active{
  background-color: hsl(265, 100%, 70%);

}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
 

}

/* .sidebar-item:last-child::after {
  display: none;
}  */
/* Me elimina las líneas a todos los childs, 
sin embargo al del vídeo sólo se lo elimina al último */

.slider-container{
  grid-area:slider;
  margin-top:2rem;
  padding:2rem;
}

.slider{
  -webkit-appearance: none; 
  cursor: pointer;
  width:100%;
  background:red;
  outline: none;
  border-radius: 5px;  
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider:hover {
  opacity: 1;
}